################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Click-A-Tel/v15/Server/sqlite3
/.vs/Click-A-Tel/v15
/.vs/Click-A-Tell-.NET/v15
/.vs/VSWorkspaceState.json
/.vs
